@import url(https://fonts.googleapis.com/css?family=Elsie+Swash+Caps:400,900);
@import url(https://fonts.googleapis.com/css?family=Clicker+Script);
p {
  font-size: 1em;
  line-height: 1.5em;
}

figcaption {
  font-weight: normal;
  font-size: .75em;
  line-height: 1.5em;
  font-family: 'Clicker Script', cursive;
  text-align: right;
}

.milk-text {
  font: bold 2.6em 'Clicker Script', cursive;
  color: white;
  text-shadow: 0 2px 3px #000;
  background-color: aqua;
}

#logo {
  background-color: aqua;
}

#logo h1 {
  font-family: 'Clicker Script', cursive;
}

#details a:link, #details a:visited{
  color: black;
  text-decoration: underline;
}
#details a:hover{
  color: black;
  text-decoration: underline;
}

#details a:active{
  color: red;
  text-decoration: underline;
}